---
import { Image } from 'astro:assets';
import SquareDay from '~/components/atom/date/SquareDay.astro';
import { iso8601TimeToDate } from '~/libs/helper/iso8601TimeToDate';
import type { ArticleArchiveType } from '~/types/ArticleArchiveType';
interface Props {
	posts: ArticleArchiveType[];
}
const { posts } = Astro.props;

//日付の変換
posts.map((post: any) => {
	post.published_at = iso8601TimeToDate(post.published_at);
});

// 同じサイズでflexさせるために要素深くなっているが、aタグをblockにして、その上の要素でサイズ指定して、更に上の要素でitems-stretchする必要があるためやむを得ない
---

<div class="flex flex-wrap items-stretch">
	{
		posts.map((post: any) => (
			<div class="w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 mb-12">
				<a
					class="hover:shadow-xl p-2 block rounded-xl h-full duration-300  "
					href={`/${post.slug}`}
				>
					<div class="flex justify-center items-center flex-col">
						<SquareDay day={post.published_at.day} slug={post.slug} />
						<div>
							{post.feature_image ? (
								<Image
									src={post.feature_image}
									width={500}
									height={500}
									format="avif"
									class="object-cover w-40 h-40 rounded-md"
									alt="記事サムネイル"
									transition:name={post.slug + '-image'}
								/>
							) : (
								<div class="aspect-square h-40 object-cover bg-gray-200 rounded-md" />
							)}
						</div>
						<h3
							class="text-xl text-black pt-2 text-wrap-balance text-center"
							transition:name={post.slug + '-title'}
						>
							{post.title}
						</h3>
					</div>
				</a>
			</div>
		))
	}
</div>
