---
import SquareDay from '~/components/atom/date/SquareDay.astro';

interface Props {
	posts: any[];
	year: string;
	month: string;
}

const { posts, year, month } = Astro.props;
const monthName = `${year}年${parseInt(month)}月`;
---

<section class="mb-12">
	<h2 class="text-2xl font-bold mb-6 text-center text-green">{monthName}</h2>
	<div class="flex flex-wrap items-stretch">
		{
			posts.map((post: any) => (
				<div class="w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 mb-12">
					<a
						class="hover:shadow-xl p-2 block rounded-xl h-full duration-300"
						href={`/${post.slug}`}
					>
						<div class="flex justify-center items-center flex-col relative">
							<SquareDay day={post.published_at.day} slug={post.slug} />
							<div>
								{post.feature_image ? (
									<img
										src={post.feature_image}
										class="object-cover w-40 h-40 rounded-md"
										alt="記事サムネイル"
										loading="lazy"
									/>
								) : (
									<div class="aspect-square h-40 object-cover bg-gray-200 rounded-md" />
								)}
							</div>
							<h3 class="text-xl text-black pt-2 text-wrap-balance text-center">
								{post.title}
							</h3>
						</div>
					</a>
				</div>
			))
		}
	</div>
</section>
