---
import SmallMD from '~/components/atom/date/SmallMD.astro';
import isoTimeToDate from '~/libs/isoTimeToDate';
const postsData = Astro.props;

//日付の変換
postsData.posts.map((post: any) => {
	post.published_at = isoTimeToDate(post.published_at);
});
---

<div class="flex flex-wrap items-start">
	{
		postsData.posts.map((post: any) => (
			<a
				class="flex justify-center items-center flex-col w-1/2 md:w-1/5 mb-12"
				href={`/${post.slug}`}
			>
				<SmallMD month={post.published_at.month} day={post.published_at.day} />
				<img src={post.feature_image} class="aspect-square h-40 object-cover" />
				<h3 class="text-xl text-black"> {post.title} </h3>
			</a>
		))
	}
</div>
