---
import BlogLayout from '~/layouts/extends/BlogLayout.astro';
import { ghostClient } from '~/libs/ghost';

const post = await ghostClient.posts
	.browse({
		limit: 1
	})
	.catch((err: any) => {
		console.error(err);
	});

if (!post) {
	return Astro.redirect('/404');
}
const headMeta = {
	title: post.title,
	slug: post.slug,
	description: post.description,
	ogImage: post.feature_image
};
---

<BlogLayout {...headMeta}>
	<img src={post.feature_image} alt={post.title} />

	<h1>{post.title}</h1>
	<p>{post.reading_time} 分くらいで読めます</p>
	{/* eslint-disable */}
	<Fragment output:server set:html={post.html} />
	{/* eslint-enable */}
</BlogLayout>
