---
import BlogLayout from '~/layouts/extends/BlogLayout.astro';
import { ghostClient } from '~/libs/ghostClient';
import '~/styles/blogContent.css';
const postRaw = await ghostClient.posts
	.browse({
		filter: `slug:${Astro.params.slug}`
	})
	.catch((err: any) => {
		console.error(err);
	});
if (!postRaw) {
	return Astro.redirect('/404');
}
const post = postRaw[0];

const headMeta = {
	title: post.title,
	slug: post.slug,
	description: post.description,
	ogImage: post.feature_image
};
---

<BlogLayout {...headMeta}>
	<!-- <img src={post.feature_image} alt={post.title} /> -->

	<h1 class="text-center mb-2">{post.title}</h1>
	<p class="text-center mb-6">{post.reading_time} 分くらいで読めます！</p>
	{/* eslint-disable */}
	<Fragment output:server set:html={post.html} />
	{/* eslint-enable */}
</BlogLayout>
