---
import ArticleArchive from "~/components/molecule/articleArchive/YMDArticleArchive.astro";
import TagList from "~/components/organism/tag/TagList.astro";
import { SITE_URL } from "~/consts";
import ArchiveLayout from "~/layouts/extends/ArchiveLayout.astro";
import { ghostApiWithRetry } from "~/libs/ghostClient";
import { isSlug } from "~/libs/validation/isSlug";
import type { HeadMetaType } from "~/types/HeadMetaType";

const tagSlug = Astro.params.tag;
if (!isSlug(tagSlug)) {
	return new Response(null, { status: 404 });
}

const posts =
	(await ghostApiWithRetry.posts.browse(
		{
			filter: `tag:${tagSlug}`,
			limit: 100,
			order: "published_at DESC",
		},
		3,
		Astro.request,
	)) || [];

const tag = await ghostApiWithRetry.tags.read(
	{
		slug: tagSlug,
	},
	3,
	Astro.request,
);

if (!tag) {
	return new Response(null, { status: 404 });
}

const postsData = {
	posts,
};

const headMeta: HeadMetaType = {
	title: `${tag.name}タグの記事一覧`,
	slug: `/tag/${tagSlug}`,
	description:
		tag.description ?? `うすゆきブログの${tag.name}タグの記事一覧です。`,
	ogImage: `${SITE_URL}/images/ogp/ogp.png`,
};
---

<ArchiveLayout {...headMeta}>
	<h2 class="text-blue text-2xl mt-4 mb-2 mx-2 text-center">「{tag.name}」タグの付いたの記事</h2>
	<div class="flex justify-center mb-12">
		<p class="">{tag.description ?? ''}</p>
	</div>
	{
		postsData.posts && postsData.posts.length > 0 ? (
			<ArticleArchive {...postsData} />
		) : (
			<p class="text-center text-xl mt-2 mb-8">このタグの記事をはありません！</p>
		)
	}
	<div class="mt-12 mb-2">
		<h2 class="text-2xl font-bold mb-4 text-center">タグ一覧</h2>
		<TagList liClass="ml-2" ulClass="flex justify-center flex-wrap md:flex-row flex-col" />
	</div>
</ArchiveLayout>
