---
import ArticleArchive from '~/components/molecule/index/ArticleArchive.astro';
import { SITE_URL } from '~/consts';
import ArchiveLayout from '~/layouts/extends/ArchiveLayout.astro';
import { ghostClient } from '~/libs/ghostClient';
import { isYear } from '~/libs/validation/isYear';
import type { HeadMetaType } from '~/types/HeadMetaType';
//バリデーション
const yearSlug = Number(Astro.params.year);
//数字かつ整数かつ4桁であるか
if (!isYear(yearSlug)) {
	return Astro.redirect('/404');
}

const posts = await ghostClient.posts
	.browse({
		filter: `published_at:>='${yearSlug}-01-01 00:00:00'+published_at:<='${yearSlug}-12-31 23:59:59'`,
		limit: 'all',
		order: 'published_at ASC'
	})
	.catch((err: any) => {
		console.error(err);
	});

const postsData = {
	posts: posts
};

const headMeta: HeadMetaType = {
	title: `${yearSlug}年の記事`,
	slug: `/archive/${yearSlug}`,
	description: `うすゆきブログ${yearSlug}年のアーカイブです`,
	ogImage: SITE_URL + '/images/ogp/ogp.png'
};
---

<ArchiveLayout {...headMeta}>
	<h2 class="text-blue text-2xl mt-4 mb-2 mx-2 text-center">{yearSlug}年の記事</h2>
	<div class="flex justify-center mb-12">
		<a href={`/archive/${yearSlug + 1}`} class="text-blue text-xl mx-2">←次の年</a>
		<a href={`/archive/${yearSlug - 1}`} class="text-blue text-xl mx-2">前の年→</a>
	</div>
	{
		postsData.posts && postsData.posts.length > 0 ? (
			<ArticleArchive {...postsData} />
		) : (
			<p class="text-center text-xl mt-2 mb-8">
				{yearSlug}年はまだ記事を書いていません！ごめんなさい！
			</p>
		)
	}
</ArchiveLayout>
